# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt


/.sourcemaps
/.versions
/coverage

# Ionic
/.ionic
/www
/platforms
/plugins

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Node modules and dependency directories
node_modules/
bower_components/

# Angular build output directory
/dist/

# Capacitor build output
/android/
/ios/
/electron/

# IDE and editors
/.idea/
/.vscode/
*.sw?
*~
*.log

# Operating System Files
.DS_Store
Thumbs.db

# Angular files
/angular.json
/.angular/
/angular-cache/

# Environment variables
/environments/*.ts
!environments/environment.model.ts

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Exclude specific user files, e.g., specific project configuration files
/capacitor.config.ts
/capacitor.config.json
/ionic.config.json

# Production files
*.prod.ts
*.production.ts

# Local development
*.local.ts
*.development.ts
*.env
*.env.local
*.env.development
*.env.production

# Cache files
*.cache
*.tmp
*.hst

# Build Logs
*.log
*.sym

# Ignore TypeScript compiled files
/**/*.js
/**/*.js.map
/**/*.d.ts

# Ignore the stats file generated by webpack
/stats.json

# Ignore other configuration files that may contain sensitive information
*.firebaserc
*.firebase.json
/firestore.indexes.json
/firestore.rules

# Firebase cache
/.firebase/

# Publish
/publish/
